.box {
    position: relative;
    margin-top:    10%;
    margin-bottom: 10%;
    margin-left:   05%;
    margin-right:  05%;
    padding:        2%;
    border: #AAAAAA 2px solid;
}

.ed {
}

.text_form {
    position: relative;
    left: 10%;
    top: 5%;
}
