.box {
    position: relative;
    margin-top:    10%;
    margin-bottom: 10%;
    margin-left:   10%;
    margin-right:  10%;
    padding:        2%;
    border: #AAAAAA 2px solid;
}

.text_form {
    position: relative;
    left: 10%;
    top: 5%;
}
